<div class="container mt-4">
  <div class="card shadow border-0">
    <div class="card-header bg-dark text-white text-center">
      <h3 class="mb-0">Nuevo Mensaje</h3>
    </div>
    <div class="card-body p-4">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" name="name" [(ngModel)]="nuevoMensaje.name" class="form-control" required>
        </div>
        
        <div class="mb-3">
          <label class="form-label">Descripción</label>
          <textarea name="content" [(ngModel)]="nuevoMensaje.content" class="form-control" rows="3" required></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label">URL de la Imagen</label>
          <input type="text" name="imageUrl" [(ngModel)]="nuevoMensaje.imageUrl" class="form-control" placeholder="https://picsum.photos/200">
        </div>

        <button type="submit" class="btn btn-primary w-100">Guardar Mensaje</button>
      </form>
    </div>
  </div>
</div>